<page-header title="Pedidos"></page-header>

<mat-card class="m-y-24">
    <mtx-grid [data]="list"
        [columns]="columns"
        [loading]="loading"
        [expandable]="true"
        [showToolbar]="true"
        [showColumnMenuButton]="true"
        [toolbarTemplate]="toolbarTpl"
        [expansionTemplate]="expansionTpl"
        [cellTemplate]="{typePayment:view}">
    </mtx-grid> 

    
    
    <ng-template #toolbarTpl>
        <input placeholder="Buscar por código" (keyup)="search($event.target.value)">
    </ng-template>

    <ng-template #expansionTpl let-row>
        <mat-list role="list" style="width: 50%;">
                <h3 mat-subheader>Compras</h3>
                <mat-list-item role="listitem" *ngFor="let item of row.products">
                    <img mat-list-avatar style="border-radius: 0px !important;   width: auto;" [src]="item.imgUrl">
                    <div mat-list-icgon><p class="text-azul2-store f-w-900">{{ item.price ? item.price + ' $' : 'Gratis'}}</p></div>
                    <p mat-line>{{item.name}}</p>                       
                </mat-list-item>
        </mat-list>
        <div class="text-center" style="width: 50%;">
            <p>Total</p>
            <h1>{{row.products | totalOrder}}</h1>
        </div>
    </ng-template>

    <ng-template #view let-row let-index="index" let-col="colDef">
        <button mat-button [color]="row.typePayment == 'Transferencia' ? 'primary' : ''" (click)="seeVoucher(row)">{{row.typePayment}}</button>
        
    </ng-template>
</mat-card>