<div class="contenedor-card">
    <mat-card *ngFor="let item of list" class="mat-elevation-z3 r-full-8">
        <img mat-card-image class="img-uniforme" [src]="item.imgUrl || 'assets/images/img.png'" alt="Img product">
        <mat-card-header>
            <mat-card-title class="text-azul1-store">{{item.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-gray-600 desc" style="text-align: justify;">{{item.description}}</mat-card-content>
        <mat-card-content>
            <h1 class="text-azul2-store">{{item.price ? item.price + ' $' : 'Gratis'}}</h1> 
            <span fxFlex></span>
            <button mat-mini-fab aria-label="Add" class="bg-green-store" (click)="addCar(item)"><mat-icon>add</mat-icon></button>
        </mat-card-content>
    </mat-card>    
</div>