.contenedor-card{
    text-align: center;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: center;

    .mat-card{
        display: inline-block;
        margin: 15px;
        vertical-align: top;
        width: 270px;
        min-height: 360px;
        position: relative;
        border-radius: 8px;

        .img-uniforme{
            max-height: 140px;
            width: 200px;
            height: 140px;
            margin: 0 auto;
        }

        mat-card-content.desc{
            height: 100px;
            max-height: 100px;
            overflow: hidden;
        }
    }
}